body {
    background-color: #FAF3E0;
    color: #2D2D2D;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #D96C4F;
    font-family: "Copperplate", "Copperplate Gothic Light", sans-serif;
    font-size: 60px;
    text-align: center;
}

table, th, td {
    border: 2px solid #3D405B; 
    border-collapse: collapse;
    margin: 0 auto;
}

ul {
    list-style-position: inside; 
    padding: 0;
}

th, td {
    padding: 20px;
    text-align: center;
    font-family: Impact, sans-serif;
}

th {
    background-color: #E07A5F; 
}

td {
    background-color: #FCEAB8; 
}

p {
    color: black;
}

.subtitulo {
    font-family: "Julius Sans One", sans-serif;
    font-weight: bold;
    color: #E07A5F;
}

.Lista{
    font-family: "Fira Sans", sans-serif;
    color: #E07A5F;
    
}

.presentacion{
    font-size: 20px;
}

.iquique{
    color:#02bdf0
}

.iquique:hover{
    color: #0285f0
}

.despedida{
    font-size: 20px
}

.link_naranjo{
    color:#E07A5F
}

.link_naranjo:hover{
    color:#d43d15
}

#nota{
    font-family: "Fira Sans", sans-serif;
    font-size: 40px;
}

button{
    color:#FAF3E0;
    background-color: #E07A5F;
}
.btn-primary{
    color:#FAF3E0;
    background-color: #E07A5F;
}
.btn-primary:hover{
    background-color:#d43d15;
    
}

.imagen{
    width: 300px; 
    height: auto;
}

.container-md{
    margin-bottom: 40px;
}

#News{
    margin-left: 200px;
    margin-right: 200px;
}

.carousel-control-prev-icon{
    background-color:#E07A5F
}

.carousel-control-next-icon{
    background-color:#E07A5F
}